---

---

<section class="section-wrapper mt-6" id="about">
  <div class="mb-6 text-center text-2xl font-bold">
    About <span
      class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
      >Me</span
    >
  </div>
  <div
    class="flex flex-col md:flex-row gap-3 lg:gap-5 content-wrapper"
    style="opacity: 1; transform: none;">
    <div
      class="flex mx-auto flex-col md:w-[70%] [text-wrap:balance] gap-3 lg:gap-5">
      <p
        class="text-green text-center font-semibold text-base lg:text-lg xl:text-xl">
        Software developer with 9 over years of experience in software
        development, in many market segments and different sized companies, on
        various platforms.
      </p><p class="text-base text-center lg:text-lg xl:text-xl">
        I am a versatile professional, able to work with different and diverse
        technologies, roles, and projects
      </p><p class="text-base text-center lg:text-lg xl:text-xl">
        I like working in a team if they are multidisciplinary much better, I
        enjoy what I do and I love being constantly updated with new tools and
        technologies.
      </p>
    </div>
  </div>
</section>
