---

---

<section class="section-wrapper mt-6" id="about">
  <div class="mb-6 text-center text-2xl font-bold">
    About <span
      class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
      >Me</span
    >
  </div>
  <div
    class="flex flex-col md:flex-row gap-3 lg:gap-5 content-wrapper"
    style="opacity: 1; transform: none;">
    <div
      class="flex mx-auto flex-col md:w-[70%] [text-wrap:balance] gap-3 lg:gap-5">
      <p
        class="text-green text-center font-semibold text-base lg:text-lg xl:text-xl">
        Seasoned Software Developer with over 9 years of experience crafting solutions
        across diverse market segments, from startups to enterprise-level organizations.
      </p><p class="text-base text-center lg:text-lg xl:text-xl">
        As a versatile professional, I thrive in challenging environments where I can
        leverage my expertise across multiple technologies and frameworks to deliver
        innovative solutions.
      </p><p class="text-base text-center lg:text-lg xl:text-xl">
        I excel in collaborative, multidisciplinary teams and maintain a passionate
        commitment to continuous learning, always staying at the forefront of emerging
        technologies and industry best practices.
      </p>
    </div>
  </div>
</section>
