---

---

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="mb-6 text-2xl font-bold">
    Recent <span
      class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
      >Projects</span
    >
  </div><div class="flex flex-col gap-6">
    <div
      class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row">
      <div class="shrink-0">
        <a href="https://freshvinewine.com/">
          <img
            class="h-36 w-36 hover:translate-y-1"
            src="/assets/images/fvw.png"
            alt="Project Fire"
            loading="lazy"
          />
        </a>
      </div><div>
        <div class="flex flex-col items-center gap-y-2 md:flex-row">
          <a class="hover:text-cyan-400" href="https://freshvinewine.com/"
            ><div class="text-xl font-semibold">
              Fresh Vine Wine - Capicua
            </div></a
          ><div class="ml-3 flex gap-1">
            <div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-green-800 text-black">
              Python
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900">
              Django
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900">
              Postgres
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900">
              JS
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-[#1d63ed] text-white">
              Docker
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-800 text-white">
              Jquery
            </div>
          </div>
        </div><p class="mt-3 text-gray-400">
          Maintenance of the ecommerce system for the creation and sale of
          products, the backend part developed in python with django using
          django templates for the frontend part and animation with javascript
          and jquery.
        </p>
      </div>
    </div><div
      class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row">
      <div class="shrink-0">
        <a href="/demo/astro-boilerplate"
          ><img
            alt="WayUp logo"
            src="https://www.wayup.com/cdn/assets/wayup_logos/wayup_primary_horizontal_rgb_2018_2.svg"
            class="h-36 w-36 hover:translate-y-1 Logo__LogoLinkImg-sc-k1pid8-0 jsNYGj"
          /></a
        >
      </div><div>
        <div class="flex flex-col items-center gap-y-2 md:flex-row">
          <a class="hover:text-cyan-400" href="/demo/astro-boilerplate"
            ><div class="text-xl font-semibold">Wayup - Globant</div></a
          ><div class="ml-3 flex gap-2">
            <div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-green-800 text-black">
              Python
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900">
              Django
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-[#1d63ed] text-white">
              Docker
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900">
              Postgres
            </div>
            <div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-black text-white">
              Git
            </div>
          </div>
        </div><p class="mt-3 text-gray-400">
          I work as a web python Software Developer creating and updating apis
          for feed the wayup web product, also making integration with the team
          of yello for update the data between the projects.
        </p>
      </div>
    </div><div
      class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row">
      <div class="shrink-0">
        <a href="/demo/astro-boilerplate"
          ><svg
            viewBox="0 0 139 29"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-36 w-36 hover:translate-y-1 sc-1-Hero__Galileo-sc-b4w2zf-4 fdMiTN"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.47134 0H25.1802C18.169 3.02671 12.3775 8.2421 12.3775 15.6207C12.3775 21.3486 17.0165 25.9983 21.4642 28.6553H8.47134C8.47134 28.6553 0 24.992 0 14.9177C0 4.46811 8.47134 0 8.47134 0ZM30.3619 28.6553H25.9746C22.4064 26.398 19.9984 23.048 19.9984 19.522C19.9984 15.0107 23.033 10.8548 30.3619 9.46873V28.6553ZM56.7943 9.68095C56.396 8.74068 55.8959 8.01445 55.2939 7.50225C54.4629 6.79373 53.344 6.43947 51.9371 6.43947C50.5064 6.43947 49.2383 6.77786 48.1328 7.45465C47.0211 8.14012 46.1374 9.13373 45.5917 10.312C44.991 11.5947 44.6893 12.9945 44.7089 14.4081C44.7089 15.9071 44.9875 17.2396 45.5447 18.4057C46.0566 19.5208 46.8845 20.4649 47.928 21.1236C48.9589 21.7694 50.1797 22.0919 51.5903 22.0911C53.0202 22.0911 54.2037 21.7059 55.1406 20.9354C55.8007 20.3929 56.3535 19.6549 56.7988 18.7212V20.5955C56.7988 22.3026 56.383 23.6455 55.5512 24.6241C54.7195 25.6027 53.4305 26.0921 51.6842 26.0921C50.6483 26.1024 49.62 25.9171 48.6542 25.5463C47.7411 25.1896 46.9122 24.6503 46.2194 23.9621V27.2102C46.94 27.8292 47.7863 28.2882 48.7012 28.5564C49.7304 28.8597 50.7996 29.009 51.8733 28.9992C53.5577 28.9992 55.0257 28.6819 56.2774 28.0472C57.5029 27.4334 58.5172 26.4741 59.1922 25.2906C59.8874 24.0927 60.235 22.6509 60.235 20.9653V6.91329H56.7943V9.68095ZM54.7266 18.5264C54.0304 18.9523 53.2243 19.1692 52.4059 19.1508C51.1222 19.1508 50.1017 18.719 49.3446 17.8555C48.5875 16.992 48.2085 15.8429 48.2078 14.4081C48.2078 13.4081 48.3868 12.5335 48.7449 11.7844C49.0738 11.068 49.5985 10.4568 50.2599 10.0197C50.9357 9.58646 51.7273 9.36357 52.5324 9.37983C53.3111 9.36822 54.0773 9.57387 54.7434 9.97322C55.4059 10.3806 55.9324 10.972 56.2573 11.6737C56.6282 12.4714 56.8118 13.3419 56.7943 14.2199C56.7943 15.1986 56.6153 16.0573 56.2573 16.7961C55.9252 17.5072 55.394 18.1093 54.7266 18.5308V18.5264ZM74.1241 7.53846C74.7917 8.06469 75.3493 8.80088 75.7969 9.74706V6.91408H79.2376V22.5569H75.7969V19.549C75.577 20.0299 75.3014 20.4838 74.9756 20.9018C74.4613 21.5567 73.8027 22.0868 73.05 22.4517C72.2346 22.8446 71.3374 23.0425 70.4306 23.0296C69.0632 23.0281 67.853 22.6794 66.7997 21.9834C65.7479 21.2852 64.9273 20.3169 64.3381 19.0785C63.7488 17.8401 63.4541 16.4293 63.4541 14.8462C63.4571 13.2432 63.7674 11.8014 64.385 10.5209C65.0027 9.24039 65.871 8.24071 66.9899 7.52185C68.0966 6.80637 69.3928 6.43152 70.7148 6.44468C72.0612 6.44468 73.1977 6.80928 74.1241 7.53846ZM71.3134 20.0007C72.2421 20.0007 73.0421 19.7715 73.7135 19.3132C74.4032 18.8366 74.9489 18.1833 75.2923 17.4234C75.6712 16.6204 75.8607 15.6979 75.8607 14.6558C75.8607 13.6358 75.6817 12.7354 75.3236 11.9545C74.9951 11.2075 74.4589 10.5683 73.7773 10.1113C73.0855 9.65876 72.2712 9.42481 71.4421 9.4404C70.6086 9.42632 69.7901 9.66003 69.0923 10.1113C68.3964 10.5712 67.8518 11.2228 67.5258 11.9855C67.1693 12.7841 66.9906 13.7159 66.9899 14.7809C66.9891 15.8459 67.1678 16.7684 67.5258 17.5485C67.845 18.2837 68.3709 18.9128 69.0409 19.3608C69.7167 19.7941 70.5083 20.0169 71.3134 20.0007ZM87.0027 0.0732544H83.562V22.5599H87.0027V0.0732544ZM91.5914 0.7919C92.0081 0.41438 92.5573 0.212611 93.1221 0.22951C93.7554 0.22951 94.2712 0.416975 94.6695 0.7919C94.8669 0.976018 95.0225 1.19955 95.1259 1.44768C95.2292 1.6958 95.2781 1.96284 95.2693 2.23108C95.2753 2.50463 95.2236 2.7764 95.1177 3.02913C95.0117 3.28186 94.8538 3.51 94.6539 3.69905C94.2399 4.07971 93.6956 4.2913 93.1305 4.2913C92.5653 4.2913 92.0211 4.07971 91.6071 3.69905C91.403 3.5124 91.2412 3.28506 91.1324 3.03202C91.0237 2.77898 90.9703 2.506 90.976 2.23108C90.9673 1.96144 91.0179 1.69316 91.1241 1.4447C91.2304 1.19625 91.3898 0.973535 91.5914 0.7919ZM94.862 6.91212H91.4213V22.5594H94.862V6.91212ZM99.2817 0.0732544H102.722V22.5599H99.2817V0.0732544ZM117.626 7.25693C116.573 6.71521 115.342 6.44435 113.934 6.44435C112.293 6.44435 110.878 6.79307 109.689 7.49052C108.514 8.1727 107.569 9.18341 106.974 10.3955C106.353 11.6346 106.042 13.0454 106.042 14.6278C106.042 16.3349 106.4 17.8183 107.115 19.0782C107.815 20.3234 108.869 21.3383 110.146 21.9975C111.451 22.6854 112.966 23.0293 114.691 23.0293C115.771 23.037 116.846 22.8844 117.88 22.5765C118.868 22.2739 119.678 21.8831 120.31 21.4041V18.4062C119.62 18.938 118.839 19.345 118.005 19.6084C117.121 19.9071 116.194 20.0601 115.26 20.0612C113.469 20.0612 112.08 19.5981 111.093 18.6719C110.236 17.8696 109.734 16.7817 109.589 15.4082H120.91V13.3469C120.91 11.9099 120.626 10.6711 120.058 9.63048C119.512 8.61177 118.663 7.7833 117.626 7.25693ZM110.081 11.7073C110.372 10.9993 110.866 10.3911 111.502 9.95817C112.133 9.53158 112.933 9.31829 113.901 9.31829C114.6 9.3012 115.292 9.45682 115.915 9.77108C116.482 10.0717 116.945 10.5347 117.241 11.0996C117.549 11.6671 117.707 12.3435 117.713 13.1288H109.682C109.755 12.641 109.887 12.1638 110.076 11.7073H110.081ZM135.199 7.50713C136.398 8.212 137.369 9.24096 137.997 10.473C138.665 11.7439 138.999 13.1712 139 14.7551C139.001 16.3389 138.669 17.76 138.005 19.0184C137.374 20.2443 136.404 21.2678 135.208 21.9698C134.008 22.6783 132.619 23.0326 131.041 23.0326C129.481 23.0319 128.101 22.6776 126.901 21.9698C125.706 21.2694 124.74 20.2437 124.119 19.0151C123.467 17.7545 123.141 16.3334 123.141 14.7518C123.141 13.1701 123.467 11.7439 124.119 10.473C124.734 9.24315 125.692 8.2138 126.881 7.50713C128.072 6.79861 129.455 6.44435 131.032 6.44435C132.609 6.44435 133.998 6.79861 135.199 7.50713ZM133.403 19.3284C134.086 18.8694 134.618 18.2234 134.935 17.4696C135.296 16.6103 135.475 15.6867 135.459 14.7562C135.478 13.8082 135.301 12.8664 134.939 11.9885C134.628 11.2312 134.094 10.5837 133.407 10.1298C132.701 9.68358 131.877 9.45542 131.04 9.47438C130.135 9.47365 129.356 9.6921 128.704 10.1298C128.029 10.5916 127.502 11.2351 127.186 11.9841C126.812 12.8592 126.629 13.8022 126.648 14.7518C126.631 15.6851 126.814 16.6115 127.186 17.4696C127.506 18.2163 128.031 18.8599 128.701 19.3284C129.353 19.7756 130.132 19.9992 131.037 19.9992C131.876 20.0179 132.701 19.7839 133.403 19.3284Z"
              fill="white"></path></svg
          ></a
        >
      </div><div>
        <div class="flex flex-col items-center gap-y-2 md:flex-row">
          <a class="hover:text-cyan-400" href="/demo/astro-boilerplate"
            ><div class="text-xl font-semibold">Galileo-ft - Globant</div></a
          ><div class="ml-3 flex gap-2">
            <div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-green-800 text-black">
              Python
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-[#1d63ed] text-white">
              Docker
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-black text-white">
              Git
            </div>
          </div>
        </div><p class="mt-3 text-gray-400">
          I worked as a python Software Developer making tests for checks and
          custom libraries for consult account, manage the plans and
          insufficient money in the checks.
        </p>
      </div>
    </div><div
      class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row">
      <div class="shrink-0">
        <a href="/demo/astro-boilerplate"
          ><img
            src="https://www.concourselabs.com/wp-content/themes/concourse/assets/img/png/ConcourseLabs-Logo.png"
            alt="Concourse Labs | Move fast and develop securely with cloud security-as-code"
            data-lazy-src="https://www.concourselabs.com/wp-content/themes/concourse/assets/img/png/ConcourseLabs-Logo.png"
            data-ll-status="loaded"
            class="h-26 w-36 hover:translate-y-1 entered lazyloaded"
          /></a
        >
      </div><div>
        <div class="flex flex-col items-center gap-y-2 md:flex-row">
          <a class="hover:text-cyan-400" href="/demo/astro-boilerplate"
            ><div class="text-xl font-semibold">
              Councourse Labs - Globant
            </div></a
          ><div class="ml-3 flex gap-2">
            <div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-green-800 text-black">
              Python
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-[#1d63ed] text-white">
              Docker
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-black text-white">
              Git
            </div>
          </div>
        </div><p class="mt-3 text-gray-400">
          I worked as a python Software Developer making scripts for git to
          integration the changes of a merge branch to dev or master, using git
          hooks for analize the files that the user upload to cloud. Also,
          convert from java to python and analyze Terraform files for GCP. The
          company is a manage credentials and permissions for every product in
          cloud, they have a product for AZURE and AWS, we were making the
          configurations for apply to GCP but in this case in python.
        </p>
      </div>
    </div><div
      class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800
    p-3 md:flex-row">
      <div class="shrink-0">
        <a href="/demo/astro-boilerplate"
          ><img
            class="h-26 w-36 hover:translate-y-1"
            src="//images.squarespace-cdn.com/content/v1/5fa505af76981131837b810b/1606913475065-0ZSYHBL0JD7AGVNQYS7Y/static1.squarespace.png?format=1500w"
            alt="Tribo"
            style="display:block"
            fetchpriority="high"
            loading="eager"
            decoding="async"
            data-loader="raw"
          /></a
        >
      </div><div>
        <div class="flex flex-col items-center gap-y-2 md:flex-row">
          <a class="hover:text-cyan-400" href="/demo/astro-boilerplate"
            ><div class="text-xl font-semibold">
              Tribo - Past Present Future
            </div></a
          ><div class="ml-3 flex gap-1">
            <div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-green-800 text-black">
              Python
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900">
              Django
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900">
              Postgres
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900">
              JS
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-black text-sky-500">
              React
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-[#1d63ed] text-white">
              Docker
            </div><div
              class="rounded-md px-2 py-1 text-xs font-semibold bg-black text-white">
              Git
            </div>
          </div>
        </div><p class="mt-3 text-gray-400">
          This project was made for manage events about different topics, we
          create, update and maintain components, pages and features for the
          managers of the events. On the other hand, we made a mobile app for
          the users of the events. I was working as a Full Stack Software
          Developer. We developed REST API in the backend to send data to the
          mobile app and for web we used graphQl. In frontend we developed
          components for react and react native for each platform.
        </p>
      </div>
    </div>
  </div>
</div>
